@{
	ViewBag.Title = "Tutorial";
}
<h2>@ViewBag.Title.</h2>
<h3 style="text-align: center;">Tutorial</h3>
<p style="text-align: center;">This is a guide to using the stationery page.</p>
<p>For the manager </p>
<ul>
	<li>Employee Management - Create employees with fields to enter, edit and delete employees, and enable and disable employee accounts </li>
	<li>History management - Can track history when members of departments take action .</li>
	<li>Approve stationery request from committee members after approval by department head and after supplies add unit price to product </li>
</ul>
<p>For Human Resources Department</p>
<ul>
	<li>Allows management of stationery requirements after purchase of supplies, staff returns </li>
</ul>
<p>For Accountant</p>
<ul>
	<li>Send money to the supplies department to buy goods </li>
</ul>
<p>For Supplies Department</p>
<ul>
	<li>Stationery management </li>
	<li>Add Price Unit and purchase product after Accountant give money</li>
</ul>
<p>For head of staff and head of department: human resources, accounting, materials </p>
<ul>
	<li>Head of staff: approve requests for stationery from employees and department heads </li>
	<li>Head of 3 departments - human resources, accounting, supplies: approve requests for stationery from members of those 3 departments and head of department </li>
</ul>
<p>For the staff department and the rest of the departments </p>
<ul>
	<li>Request stationery</li>
</ul>
